/* УТИЛИТЫ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --title-text-color: #212121;
  --description-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --icons-color: #AFB1B8;
  --box-background-color:#F5F4FA;
}

body {
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2,
h3 {
  color: var(--title-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0000);
overflow: hidden;
}

/* ЛОГОТИП */
.logotype {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logotype-style {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

/* НАВИГАЦИЯ */
.main-nav {
 display: flex;
 align-items: center;
 justify-content: center;
}


.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* СВЯЗАТЬСЯ С НАМИ  */
.contact-us {
display: inline-flex;
margin-left: auto;
/* align-items: center;
justify-content: center; */
vertical-align: bottom;
}

/* СВЯЗАТЬСЯ С НАМИ - ИКОНКИ  */
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--description-color);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--description-color);
}

.mail:hover .mail-icon,
.mail:focus .mail-icon,
.smartphone:hover .smartphone-icon,
.smartphone:focus .smartphone-icon {
  fill: var(--accent-color);
}

/* СВЯЗАТЬСЯ С НАМИ - ССЫЛКИ */
.contact-us a {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--description-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-us :hover,
.contact-us :focus {
  color: var(--accent-color);
}

.contact-us .item:not(:last-child) {
  margin-right: 50px;
}

/* ФУТЕР  */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
  color: var(--white-color);
}

.footer-panel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-item {
margin-right: 70px;
}

.logotype-inverse {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logotype-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.footer-address .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
}

.address-item .address-color {
  color: var(--white-color);
}

.join {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.14;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-item:not(:last-child) {
margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color:var(--accent-color);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}





