/* УТИЛИТЫ */

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
} */

:root {
  --title-text-color: #212121;
  --description-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2,
h3 {
  color: var(--title-text-color);
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* ЛОГОТИП */
/* TODO: у логотипа паддинги */

.logotype {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logotype-style {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logotype-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

/* НАВИГАЦИЯ */
.main-nav {
 display: flex;
 align-items: center;
 justify-content: center;
}


.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav :hover,
.site-nav :focus {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* СВЯЗАТЬСЯ С НАМИ  */
.contact-us {
display: flex;
margin-left: auto;
}

.contact-us a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--description-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-us :hover,
.contact-us :focus {
  color: var(--accent-color);
}

.contact-us .item:not(:last-child) {
  margin-right: 50px;
}

/* ФУТЕР  */

.theme {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
}

