/* BLOCK STYLES */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ШАПКА САЙТА */
.page-header {
  background-color: var(--white-color);
}
.portfolio-header {
    border-bottom: 1px solid #ececec;
}

/* ГЕРОЙ */
.hero-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.main-hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

/* КНОПКИ */
.button.hero {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: inline-block;
  padding: 10px 32px;
}

.button {
  color: var(--title-text-color);
  text-align: center;
}

/* НАШИ ОСОБЕННОСТИ  */

.box {
padding-top: 94px;
padding-bottom: 94px;
}

.feature-topic {
  display: flex;
}

.feature-topic .item:not(:last-child) {
 margin-right: 30px;
}

.feature-topic .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-topic .text {
margin-top: auto;
margin-bottom: auto;
width: 270px;
line-height: 1.71;
color: var(--description-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ  */
.work-model {
  margin-top: 0px;
}
/* заголовок секции (#2-#3) */
.section-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-topic {
  display: flex;
  padding-bottom: 94px;
}

.work-topic .item:not(:last-child) {
  margin-right: 30px;
 }

/* НАША КОМАНДА */
.employees {
  background-color: #F5F4FA;

}

.team-member {
  display: flex;
}

.team-member-item {
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-member-item:not(:last-child) {
margin-right: 30px;
}
.employees-member {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; 
}

.cards-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  margin-top: 0px;
}
.cards-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

  /* TODO:СТРАНИЦА ПОРТФОЛИО */
  .filter-gallery {
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
  }
 
/* КНОПКИ ПОРТФОЛИО */
  .button-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* .portfolio-filter {

  } */

  .portfolio-filter:not(:last-child) {
      margin-right: 8px;
    }
  
  .button.item:hover,
  .button.item:focus,
  .button.item:active {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
  }

  .button.item {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    border: none;
    outline: none;
  }

  /* ГАЛЕРЕЯ ФИЛЬТРОВ */
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .filter-topic {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    border: 1px solid #EEEEEE;
  }
  
  .filter-topic:nth-child(3n) {
    margin-right: 0;
  }
  .filter-topic:nth-child(n+7) {
    margin-bottom: 0;
  }

  .filter-item {
    padding: 20px 24px;
  }

  .filter-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: auto;
    margin-bottom: 4px;
  }

  .filter-description {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
    margin: auto;
  }

