/* BLOCK STYLES */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ШАПКА САЙТА */
.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

/* ГЕРОЙ */
.hero-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.main-hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img-10-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

/* КНОПКИ */
.button.hero {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: inline-block;
  padding: 10px 32px;
  border:none;
  outline:none;
  cursor: pointer;
  transition: color 250ms var(--time-step),
  background-color 250ms var(--time-step);
}

.button.hero:hover,
.button.hero:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}

.button {
  color: var(--title-text-color);
  text-align: center;
  cursor: pointer;
}

/* НАШИ ОСОБЕННОСТИ-ИКОНКИ  */
/* .icon-antena {

} */

.feature-box {
display: flex;
justify-content: center;
align-items: center;
height: 120px;
border-radius: 4px;
background-color: var(--box-background-color);
margin-bottom: 30px;
}

.box-icon {
width: 70px;
height: 70px;
}

/* НАШИ ОСОБЕННОСТИ  */
.box {
padding-top: 94px;
padding-bottom: 94px;
}

.feature-topic {
  display: flex;
}

.feature-topic .item:not(:last-child) {
 margin-right: 30px;
}

.feature-topic .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-topic .text {
margin-top: auto;
margin-bottom: auto;
width: 270px;
line-height: 1.71;
color: var(--description-color);
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ  */
.work-model {
  margin-top: 0px;
}
/* заголовок секции (#2-#3) */
.section-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.section-title::first-letter {
  text-transform: uppercase;
}

/* рабочие макеты */
.work-topic {
  display: flex;
  padding-bottom: 94px;
}

.work-topic .item:not(:last-child) {
  margin-right: 30px;
 }

 .work-topic .item {
 position: relative; 
}

 .img-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-weight: bold;
  line-height: 1.142;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background:var(--overlay-color);
 }

/* НАША КОМАНДА */
.team-panel {
  background-color: #F5F4FA;
}

.team-panel .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.member-card:not(:last-child) {
margin-right: 30px;
}

.team-panel .card-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  }

.member-img {
  margin-bottom: 30px; 
}

.cards-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.cards-description {
  font-size: 16px;
  line-height: 1.19;
  color: var(--description-color);
  margin-bottom: 16px;
  text-align: center;
}

/* НАША КОМАНДА СОЦ ИКОНКИ */
.social-list {
list-style: none;
display: flex;
justify-content: center;
}

.social-item:not(:last-child) {
margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icons-color);
  background-color: var(--white-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms var(--time-step);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-instagram,
.social-twitter,
.social-facebook,
.social-linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms var(--time-step);
}

.social-link:hover .social-instagram,
.social-link:focus .social-instagram,
.social-link:hover .social-twitter,
.social-link:focus .social-twitter, 
.social-link:hover .social-facebook,
.social-link:focus .social-facebook, 
.social-link:hover .social-linkedin,
.social-link:focus .social-linkedin {
  fill: var(--white-color);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  transition: border-color 250ms var(--time-step);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
} 

.client-link:hover .icons-logo-1,
.client-link:focus .icons-logo-1,
.client-link:hover .icons-logo-2,
.client-link:focus .icons-logo-2,
.client-link:hover .icons-logo-3,
.client-link:focus .icons-logo-3,
.client-link:hover .icons-logo-4,
.client-link:focus .icons-logo-4,
.client-link:hover .icons-logo-5,
.client-link:focus .icons-logo-5,
.client-link:hover .icons-logo-6,
.client-link:focus .icons-logo-6 {
  fill: var(--accent-color);
}

.icons-client {
fill: currentColor;
transition: fill 250ms var(--time-step);
}

.icons-logo-1 {
  width:  44.27px;
  height: 49.23px;
}
.icons-logo-2 {
  width:  40px;
  height: 52px;
}
.icons-logo-3 {
  width:  41px;
  height: 42.6px;
}
.icons-logo-4 {
  width:  79.66px;
  height: 42.02px;
}
.icons-logo-5 {
  width:  59px;
  height: 47px;
}
.icons-logo-6 {
  width:  88.48px;
  height: 45.44px;
}

  /* СТРАНИЦА ПОРТФОЛИО */
  .filter-gallery {
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
  }
 
/* КНОПКИ ПОРТФОЛИО */
  .button-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
  }

  /* .portfolio-filter {
  } */

  .portfolio-filter:not(:last-child) {
      margin-right: 8px;
    }
  
  .button.item.current {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  }
  
  .button.item {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: color 250ms var(--time-step),
    background-color 250ms var(--time-step),
    box-shadow 250ms var(--time-step);
  }

  .button.item:hover,
  .button.item:focus,
  .button.item:active {
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: inherit;
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  /* ГАЛЕРЕЯ ФИЛЬТРОВ */
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .filter-topic {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
    border: 1px solid #EEEEEE;
   }

  .filter-topic:nth-child(3n) {
    margin-right: 0;
  }
  .filter-topic:nth-child(n+7) {
    margin-bottom: 0;
  }
   
  .filter-item {
    padding: 20px 24px; 
    cursor: pointer;
  }

  .filter-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: auto;
    margin-bottom: 4px;
  }

  .filter-description {
    font-size: 16px;
    line-height: 1.9;
    color: var(--description-color);
    margin: auto;
  }

/* ГАЛЕРЕЯ ФИЛЬТРОВ POSITION */
  .portfolio-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--time-step);
  }
   
   .portfolio-link:hover .topic-container,
   .portfolio-link:focus .topic-container {
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
   }

   .imgcard {
    position: relative;
    overflow: hidden;
    }

    .img-info {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 294px;
    background:var(--accent-bgr);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms var(--time-step);
    }

    .img-text {
    font-size: 18px;
    line-height:1.6;
    padding: 63px 24px;
    color: var(--white-color);
    }

    .portfolio-link:hover .img-info, 
    .portfolio-link:focus .img-info {
    opacity: 1;
    transform: translateY(0%);
    }

    /* МОДАЛЬНОЕ ОКНО */
    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      opacity: 1;
      transition: opacity 250ms var(--time-step);
    }

    .backdrop.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    .backdrop.is-hidden .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      min-height: 581px;
      width: 528px;
      background-color: var(--white-color);
      padding: 40px;
      transform: translate(-50%, -50%) scale(1);
      transition: transform 250ms var(--time-step);
    }

    .btn-close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background-color: var(--white-color);
      cursor: pointer;
      outline:none;
    }

    .icon-close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
      height: 18px;
      fill: #000000;
      transition: fill 250ms var(--time-step);
    }

    .btn-close:hover .icon-close {
      fill: var(--accent-color);
    }